/* Start Global Rules */
* {
    box-sizing: border-box;
}

:root {
    --1st-color: rgb(236, 223, 204);
    --2nd-color: rgb(105, 117, 101);
    --3rd-color: rgb(60, 61, 55);
    --4th-color: rgb(24, 28, 20);
    --main-transition-duration: 0.3s;
    --main-section-padding: 100px;
    --section-background: #ececec;
}
.darkmode {
    --1st-color: rgb(24, 28, 20);
    --2nd-color: rgb(60, 61, 55);
    --3rd-color: rgb(105, 117, 101);
    --4th-color: rgb(236, 223, 204);
}
.ar {
    direction: rtl;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--1st-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    color: var(--4th-color);
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid var(--4th-color);
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--4th-color);
    top: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: var(--1st-color);
    border-color: transparent;
    transition-delay: 0.5s;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* End Global Rules */
/* Start Header  */
.header {
    background-color: var(--2nd-color);
    position: relative;
    /* box-shadow: 0 0 5px var(--1st-color); */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--4th-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .container {
        text-align: start;
    }
    .header .logo {
        width: 100%;
        height: 50px;
        border-bottom: 2px solid var(--4th-color);
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto auto auto 0;
    }
    .ar .header .main-nav {
        margin: auto 0 auto auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 20;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: var(--4th-color);
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav>li>a::before {
    display: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--1st-color);
    top: 0;
    left: 0;
}

.header .main-nav>li>a:hover {
    color: var(--2nd-color);
    background-color: var(--4th-color);
}

.header .main-nav>li>a:hover::before {
    display: block;
}
#theme-switch {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    /*color: var(--4th-color);*/
    background-color: var(--1st-color);
    border: none;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
#theme-switch svg{
    position: relative;
    top: 2px;
    fill: var(--4th-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: inline;
}
#lang-switch {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    /*color: var(--4th-color);*/
    background-color: var(--1st-color);
    border: none;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
#lang-switch svg{
    position: relative;
    top: 2px;
    fill: var(--4th-color);
}
@media (max-width: 767px) {
    /* .switches {
        position: absolute;
        bottom: 3px;
        right: 5px;
    } */
    #theme-switch, #lang-switch {
        font-size: 5px;
        width: 32px;
        height: 32px;
    }
    #theme-switch svg, #lang-switch svg{
        top: 0;
    }
}
/* End Header  */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: var(--3rd-color);
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
    }

    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    color: var(--1st-color);
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: var(--4th-color);
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .text p span {
    display: block;
    color: var(--2nd-color);
}

.landing .image img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        order: -1;
        margin: 100px 0 70px;
    }
}

.landing .go-down {
    color: var(--4th-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Projects */
.projects {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.projects .box {
    color: var(--3rd-color);
    box-shadow: 0 2px 15px rgb(24 28 20 / 30%);
    background-color: var(--2nd-color);
    overflow: hidden;
    z-index: 1;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -webkit-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -moz-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -ms-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    -o-transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
}

.projects .box:hover {
    box-shadow: 0 2px 15px rgb(24 28 20 / 40%);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.darkmode .projects .box {
    box-shadow: 0 2px 15px rgb(236 223 204 / 5%);
    background-color: var(--2nd-color);
}
.darkmode .projects .box:hover {
    box-shadow: 0 2px 15px rgb(236 223 204 / 10%);
}
.projects .box img {
    max-width: 100%;
}

.projects .box .content {
    padding: 20px;
}

@media (min-width: 991px) {
    .projects .box .content {
        height: 120px;
    }
}

.projects .box .content h3 {
    margin: 0;
}

.projects .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: var(--4th-color);
}

.projects .box .info {
    padding: 20px;
    border-top: 1px solid var(--4th-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .ar .projects .box .info {
    direction: ltr;
} */
.projects .box .info a {
    font-weight: bold;
    color: var(--3rd-color);
}

.projects .box .info i {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.projects .box:hover .info i {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
.ar .projects .box:hover .info i {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

/* End Projects */
/* Start My Skills */
.my-skills {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--3rd-color);
    position: relative;
}

.my-skills .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.my-skills .skill {
    background-color: var(--1st-color);
    width: 250px;
    height: 120px;
    border: 1px solid var(--4th-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.my-skills .container h3 {
    font-size: 40px;
    font-weight: bold;
    color: var(--4th-color);
    text-align: center;
}


/* End My Skills */
/* Start Contact */
.contact {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
}

@media (max-width: 767px) {
    .contact {
        text-align: center;
    }
}

.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact .social {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .contact .social {
        justify-content: center;
    }
}

.contact .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}

.contact .social .github:hover {
    background-color: #333;
    color: white;
}

.contact .social .linkedin:hover {
    background-color: #0a66c2;
    color: white;
}

.contact .social .x-twitter:hover {
    background-color: #14171a;
    color: white;
}

.contact .social .email:hover {
    background-color: #52bad5;
    color: white;
}

.contact .text {
    line-height: 2;
    color: var(--4th-color);
}

@media (max-width: 767px) {
    .contact .text {
        margin-bottom: 0;
    }
}

/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--4th-color);
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: var(--1st-color);
    margin: 0;
}

.footer .copyright i {
    color: var(--2nd-color);
    margin: 0 2px;
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}

/* End Animation */